<div class = "col">
<% @ideas.each do |idea| %>
          
          <div class="idea-container"> 
         
              <h3><%= idea.title %></h3>
                
              </h3>
             
              <div class="idea-description">
              <h4 >
                <%= idea.description %>
              </h4>
              
              </div>
              
                <h4><%= link_to "By #{idea.user.name}", idea_path(idea) %></h4> 
              
              <small>
                Posted <%= time_ago_in_words(idea.created_at) %> ago by <%= idea.user.name %>
              </small>
              
          </div>    
         
        
  <% end %>

  </div>